$space-large: 2.5rem;
$titleColor: purple;

.page-title {
    color: $titleColor;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}